body {
  margin: 5px;
  overflow: hidden;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 243px;

  background: rgba(213, 182, 162, 0.5);
  mix-blend-mode: normal;
  border-radius: 20px;
}
.topper .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topper .menu .options {
  display: flex;
}

.topper .menu .options a {
}

.topper img {
  width: 266px;
  height: 200px;
}

.topper a.faq {
  width: 64px;
  height: 30px;
  margin-right: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;
}

.topper a.suport {
  width: 95px;
  height: 30px;
  margin-right: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;
}

.topper a.country {
  width: 48px;
  height: 30px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.topper .title {
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.topper .title a {
  width: 325px;
  height: 53px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-decoration: none;

  color: #000000;
}

.topper .perfil {
  justify-content: end;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  margin-right: 21px;

  color: #000000;
}

.topper .perfil a {
  text-decoration: none;
  color: #000000;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 26px 131px;
  height: 73px;

  background: #d9d9d9;
  mix-blend-mode: normal;
  border-radius: 25px;
}

.search-bar .search-bar-content {
  display: flex;
  justify-content: space-around;

  height: 100%;
  flex-grow: 1;
}
.search-bar .search-bar-content .referency {
  display: flex;
  align-items: center;
  height: 100%;

  justify-content: center;
}

.search-bar .search-bar-content .referency a {
  width: 447px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;

  color: #000000;

  opacity: 0.75;
}
.search-bar .search-bar-content .advanced {
  align-items: center;

  display: flex;
  height: 100%;
  background: rgba(213, 182, 162, 0.5);
}

.search-bar .search-bar-content .advanced .search {
  margin-right: 8px;
  align-items: center;

  text-align: center;
}
.search-bar .search-bar-content .advanced p {
  width: 349px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;

  color: #000000;

  opacity: 0.75;
}

.search-bar .search-bar-content .lupa-icon {
  display: flex;
  align-items: center;
  background: #d9d9d9;
}

/* CENTER */

.center {
}

.center .latest-articles {
  background: #d9d9d9;
  border-radius: 20px;
}

.center .most-accessed {
}
