{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>StarScience</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/logo.png' %}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'article_index' %}">
        <img
          src="{% static 'assets/logo_fundo.png' %}"
          alt="Logo"
          width="100px"
          style="object-fit: contain"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-lg" href="{% url 'article_create' %}"
              >Criar artigo</a
            >
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Pesquisar titulo"
          aria-label="Pesquisar titulo"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Pesquisar titulo
        </button>
      </form>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-black">{{ object.title }}</h1>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="text-secondary">
            <b>Descrição:</b> {{ object.description }}
          </p>
          <p class="text-secondary"><b>Url:</b> {{ object.url }}</p>
          <p class="text-secondary">
            <b>Categoria:</b> {{ object.category.name }}
          </p>
          <p class="text-secondary">
            <b>Criado em:</b> {{ object.created_at }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
