<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>StarScience</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="topper">
      <div class="menu">
        <div class="options">
          <a href="#" class="faq">F.A.Q</a>
          <a href="#" class="suport">Suporte</a>
          <a href="#" class="country">Pais</a>
        </div>
        <div class="logo">
          <a href="./home.html">
            <img src="../../assets/logo_fundo.png" />
          </a>
        </div>
      </div>
      <div class="title">
        <a href="#"></a>
      </div>
      <div class="perfil">
        <img src="../../assets/profile.png" />
        <a href="./my_profile.html"> Perfil </a>
      </div>
    </div>
    <div class="article-comments">
      <div class="article-infos">
        <div class="title">
          Dependência de Internet e de jogos eletrônicos: uma revisão
        </div>
        <div class="authors">
          Cristiano Nabuco de Abreu, Rafael Gomes Karam, Dora Sampaio Góes,
          Daniel Tornaim Spritzer
        </div>
      </div>
    </div>
    <div class="comment">
      <input type="text" id="comment" name="comment" />
    </div>
    <div class="comment-buttom">
      <input
        type="button"
        onclick="alert('Artigo comentado com sucesso.')"
        value="Comentar"
      />
    </div>
    <div class="external-comments">
      <div class="comment1">
        <div class="perfil">
          <img src="../../assets/elon1.png" />
        </div>
        <div class="name">Elon Musk:</div>
        <div class="content">Vou fazer um foguete pensando nisso</div>
      </div>
      <hr class="solid" />

      <div class="comment2">
        <div class="perfil">
          <img src="../../assets/profile.png" />
        </div>
        <div class="name">Alexandre Borbas:</div>
        <div class="content">
          Eu como jogador nato, discordo de certa parte mas não invalido o
          estudo. horas de pesquisa extensiva só demonstram como a dependência
          dos jogos é algo sério e precisa ser estudado
        </div>
      </div>
    </div>
  </body>
</html>
