<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>StarScience</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="topper">
      <div class="menu">
        <div class="options">
          <a href="#" class="faq">F.A.Q</a>
          <a href="#" class="suport">Suporte</a>
          <a href="#" class="country">Pais</a>
        </div>
        <div class="logo">
          <a href="./home.html">
            <img src="../../assets/logo_fundo.png" />
          </a>
        </div>
      </div>
      <div class="title">
        <a href="#">Publicar Artigos</a>
      </div>
      <div class="perfil">
        <img src="../../assets/profile.png" />
        <a href="./my_profile.html"> Perfil </a>
      </div>
    </div>
    <div class="external-profile">
      <div class="external-profile-image"></div>
      <div class="exernal-profile-informations"></div>
    </div>
    <div class="external-profile-articles">
      <div class="article1"></div>
    </div>
  </body>
</html>
