{% comment %} {% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="static/home.css" />
  <head>
    <title>StarScience</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="center">
        <div class="logo"><img src="../../assets/logo.png" /></div>
      </div>
    </header>
  </body>
</html>
{% endcomment %}
