<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>StarScience</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="topper">
      <div class="menu">
        <div class="options">
          <a href="#" class="faq">F.A.Q</a>
          <a href="#" class="suport">Suporte</a>
          <a href="#" class="country">Pais</a>
        </div>
        <div class="logo">
          <a href="./home.html">
            <img src="../../assets/logo_fundo.png" />
          </a>
        </div>
      </div>
      <div class="title">
        <a href="#">Publicar Artigos</a>
      </div>
      <div class="perfil">
        <img src="../../assets/profile.png" />
        <a href="./my_profile.html"> Perfil </a>
      </div>
    </div>
    <div class="my-articles">
      <div class="title"><p>Artigos Salvos</p></div>
      <div class="article1">
        <a href="show_article.html"
          >Dependência de Internet e de jogos eletrônicos: uma revisão</a
        >
        <h3>
          CN Abreu, RG Karam, DS Góes… - Brazilian Journal of …, 2008 - SciELO
          Brasil
        </h3>
        <p>
          ... , a Internet e os jogos eletrônicos tornaram-se ferramentas de uso
          … a dependência de Internete jogos eletrônicos na população geral. … A
          busca eletrônica foi feita até dezembro de 2007. …
        </p>
      </div>
      <div class="article1">
        <a href="show_article.html"
          >Um estudo sobre a história dos jogos eletrônicos</a
        >
        <h3>
          MLS Batista, PL Quintão, SMB Lima… - Revista Eletrônica da …, 1981 -
          academia.edu
        </h3>
        <p>
          … jogos eletrônicos, desde o pioneiro Willy e seu Tenis for Two até os
          consoles (aparelhoseletrônicos que executam os jogos eletrônicos) …
          pioneiros e seus jogos simples sem nenhuma …
        </p>
      </div>
    </div>
  </body>
</html>
