<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>StarScience</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="topper">
      <div class="menu">
        <div class="options">
          <a href="#" class="faq">F.A.Q</a>
          <a href="#" class="suport">Suporte</a>
          <a href="#" class="country">Pais</a>
        </div>
        <div class="logo">
          <a href="./home.html">
            <img src="../../assets/logo_fundo.png" />
          </a>
        </div>
      </div>
      <div class="title">
        <a href="#"></a>
      </div>
      <div class="perfil">
        <img src="../../assets/profile.png" />
        <a href="./my_profile.html"> Perfil </a>
      </div>
    </div>
    <div class="publish_article">
      <div class="publish">
        <div class="title">Publicar Artigo</div>
        <div class="content-infos">
          <div class="form">
            <div class="label-title">
              <label for="title">Titulo</label>
              <input type="text" id="title" name="title" />
            </div>
            <div class="label-author">
              <label for="authors">Autor(es)</label>
              <input type="text" id="authors" name="authors" />
            </div>
            <div class="content">
              <textarea> </textarea>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="acceptance">
            <input
              type="checkbox"
              id="term-acceptance"
              name="term-acceptance"
              value="Boat"
            />
            <label for="term-acceptance"> Aceito termos de uso. </label>
          </div>
          <div class="buttom">
            <input
              type="button"
              onclick="alert('Artigo publicado com sucesso.')"
              value="Publicar"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
