<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>StarScience</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="topper">
      <div class="menu">
        <div class="options">
          <a href="#" class="faq">F.A.Q</a>
          <a href="#" class="suport">Suporte</a>
          <a href="#" class="country">Pais</a>
        </div>
        <div class="logo">
          <a href="./home.html">
            <img src="../../assets/logo_fundo.png" />
          </a>
        </div>
      </div>
      <div class="title">
        <a href="#"></a>
      </div>
      <div class="perfil">
        <img src="../../assets/profile.png" />
        <a href="./my_profile.html"> Perfil </a>
      </div>
    </div>
    <div class="show-article">
      <div class="title">
        Dependência de Internet e de jogos eletrônicos: uma revisão
      </div>

      <div class="authors">
        Cristiano Nabuco de Abreu, Rafael Gomes Karam, Dora Sampaio Góes, Daniel
        Tornaim Spritzer
      </div>

      <div class="content">
        OBJETIVO: Com a inclusão das novas tecnologias contemporâneas, a
        Internet e os jogos eletrônicos tornaram-se ferramentas de uso amplo e
        irrestrito, transformando-se em um dos maiores fenômenos mundiais da
        última década. Diversas pesquisas atestam os benefícios desses recursos,
        mas seu uso sadio e adaptativo progressivamente deu lugar ao abuso e à
        falta de controle ao criar severos impactos na vida cotidiana de milhões
        de usuários. O objetivo deste estudo foi revisar de forma sistemática os
        artigos que examinam a dependência de Internet e jogos eletrônicos na
        população geral. Almejamos, portanto, avaliar a evolução destes
        conceitos no decorrer da última década, assim como contribuir para a
        melhor compreensão do quadro e suas comorbidades. MÉTODO: Foi feita uma
        revisão sistemática da literatura através do MedLine, Lilacs, SciELO e
        Cochrane usando-se como parâmetro Cochrane usando-se como parâmetro os
        termos: "Internet addiction", pathological "Internet use", "problematic
        Internet use", "Internet abuse", "videogame", "computer games" e
        "electronic games". A busca eletrônica foi feita até dezembro de 2007.
        DISCUSSÃO: Estudos realizados em diferentes países apontam para
        prevalências ainda muito diversas, o que provavelmente se deve à falta
        de consenso e ao uso de diferentes denominações, dando margem à adoção
        de distintos critérios diagnósticos. Muitos pacientes que relatam o uso
        abusivo e dependência passam a apresentar prejuízos significativos na
        vida profissional, acadêmica (escolar), social e familiar. CONCLUSÕES:
        São necessárias novas investigações para determinar se esse uso abusivo
        de Internet e de jogos eletrônicos pode ser compreendido como uma das
        mais novas classificações psiquiátricas do século XXI ou apenas
        substratos de outros transtornos. Internet; Videogame; Dependência;
        Transtornos do controle de impulsos; Comorbidade
      </div>
      <div class="comment">
        <a href="./article_comments.html"> Comentários </a>
      </div>
    </div>
  </body>
</html>
